[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytesseract = "*"
opencv-python = "*"
pillow = "*"
flask = "*"


[dev-packages]



[requires]

python_version = "3.6"
